/*Global styles*/

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

footer {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /*    font-family: 'Fjalla One', sans-serif;*/
    font-family: 'Bebas Neue';
    font-weight: normal;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

.text-upper {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.grey {
    color: #e3e3e3;
}

.white {
    color: #fff;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.bg-blue {
    background-color: #38c6b4;
    background: url(../img/bg-blue.png);
    background-repeat: repeat;
}

/*End global styles*/

/*Header styles*/

.top-wrap {
    min-height: 79px;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 49px;
    color: #3cc3b5;
    margin-left: 20px;
}

.logo a {
    color: #3cc3b5;
}

.search {
    position: relative;
}

.search i {
    position: absolute;
    right: 11px;
    top: 27px;
    cursor: pointer;
    color: #e1e1e1;
    font-size: 28px;
}

.inp-search {
    width: 415px;
    height: 30px;
    padding-left: 20px;
    font-size: 13px;
    margin: 25px 0px 20px 21px;
    border: 1px solid #e1e1e1;
    color: #e1e1e1;
}

.cart i {
    line-height: 52px;
    height: 38px;
    display: block;
    color: #afafaf;
    font-style: normal;
    font-size: 24px;
    margin-right: 22px;
    margin-left: 10px;
    padding-bottom: 1px;
}

.cart-img {
    margin-right: 7px;
}

.nav {
    width: 100%;
    background: #4ccfc1;
    min-height: 35px;
    box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.15);
    position: relative;
}

.nav-wrap {
    flex-wrap: wrap;
    min-height: 36px;
}

.nav-item {
    padding-right: 20px
}

.nav-item a {
    color: #fff;
    font-size: 21px;
    letter-spacing: 0.6px;
    padding-left: 2px;
    padding-right: 1px;
}

.nav-item a:hover {
    color: #a89f9f;
}

.nav-item a::after {
    content: "";
    width: 2px;
    height: 16px;
    position: relative;
    display: inline-block;
    background: #fff;
    left: 20px;
    top: 2px;
}

.nav-item:last-child a::after {
    display: none;
}

.nav-item:first-child {
    margin-left: 15px;
}

/* End Header styles*/

/*Section Slide*/

.slide {
    width: 100%;
    min-height: 446px;
    color: #fff;
}

.slide-wrap {
    justify-content: flex-start;
}

.slide-img {
    margin-top: 65px;
    margin-left: 75px;
    max-width: 278px;
    max-height: 451px;
}

.slide-text-wrap {
    margin-left: 100px;
}

.slide-head {
    font-size: 56px;
    max-width: 310px;
    margin-top: 79px;
    line-height: 54px;
    letter-spacing: 2px;
}

.slide-subhead {
    max-width: 412px;
    margin-top: 12px;
    line-height: 28px;
    word-wrap: break-word;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 3px;
}

.slide-btn {
    border: 3px solid #fff;
    border-radius: 10px;
    margin-top: 23px;
    margin-left: 5px;
    display: inline-block;
    width: 133px;
    text-align: center;
    height: 44px;
    font-size: 27px;
    letter-spacing: 0.1px;
    background: none;
    cursor: pointer;
    outline: none;
}

@keyframes box-shadow {
    from {
        box-shadow: inset 0px 0px 79px -17px rgba(0, 0, 0, 0.4);
    }
    to {
        box-shadow: inset 0px 0px 195px -17px rgba(0, 0, 0, 0.8);
    }
}

.slide-btn:hover {
    color: #a89f9f;
    animation: box-shadow 1s 0.2s linear;
}

.slide-btn:active {
    cursor: progress;
}

.slide-circle {
    width: 100px;
    margin-top: 48px;
    margin-left: 10px;
}

.circle-item {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
}

.circle-item:hover {
    background: #7cd8d0;
    cursor: pointer;
}

/*End Section Slide*/

/*Section product slide*/

.product-slide {
    width: 100%;
}

.product-wrap {
    min-height: 190px;
}

.product-wrap i {
    position: absolute;
    font-size: 100px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.product-wrap i:hover {
    color: #3ac5ba;
    opacity: 1;
}

.product-wrap .fa-angle-left {
    left: 30px;
}

.product-wrap .fa-angle-right {
    right: 30px;
}

.product-item:after {
    content: "";
    width: 1px;
    height: 190px;
    background: #e7e7e7;
    display: inline-block;
}

.product-item:nth-child(3) {
    width: 33%;
}

.product-item:nth-child(4)::after {
    display: none;
}

.product-item:nth-child(4) {
    width: 29%;
}

.product-item img {
    height: 132px;
}

.product-slide-wrap {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 69px;
}

.product-item-text {
    font-size: 27px;
    width: 80px;
    color: #afafaf;
}

.product-item-btn {
    margin-top: 20px;
}

.product-item-btn a {
    background: #3cc395;
    border-radius: 6px;
    font-size: 19px;
    width: 59px;
    display: block;
    text-align: center;
    height: 32px;
    line-height: 32px;
}

.product-item img {
    margin-top: 30px;
}

.vertic-line {
    width: 1px;
    height: 190px;
    background: #e7e7e7;
}

.recommend {
    width: 100%;
}

.reccomend-head {
    height: 65px;
    line-height: 65px;
    margin-left: 43px;
    font-size: 31px;
}

/*End Section product slide*/

/*Section Goods*/

.goods {
    min-height: 688px;
    width: 100%;
}

.goods-wrap {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.goods-item {
    width: 253px;
    height: 258px;
    border: 2px solid #e4e4e4;
    margin-top: 45px;
}

.goods-item img {
    margin: 25px auto 0px auto;
    display: block;
    height: 126px;
}

.goods-head {
    color: #afafaf;
    margin: 18px auto 2px auto;
    text-align: center;
    font-size: 27px;
}

.goods-price-wrap {
    justify-content: center;
    border-bottom: 5px solid #3cc395;
    height: 52px;
}

.goods-price {
    color: #afafaf;
    font-size: 27px;
    font-weight: bold;
    margin-top: 8px;
}

.goods-btn {
    margin-top: 7px;
}

.goods-btn a {
    font-size: 20px;
    width: 74px;
    height: 34px;
    background: #3cc395;
    border-radius: 6px;
    margin-left: 15px;
    display: block;
    text-align: center;
    line-height: 34px;
}

.goods-btn a:hover,
.product-item-btn a:hover {
    color: #e4e4e4;
    background: #64c33c;
}

/*End Section Goods*/

/*Footer styles*/

footer {
    min-height: 337px;
    width: 100%;
    background: #3cc3b5;
}

.footer-wrap {
    flex-wrap: wrap;
    min-height: 337px;
    justify-content: space-around;
}

.footer-links a {
    line-height: 28px;
    font-size: 15px;
    font-weight: 300;
}

.footer-links h3 {
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 60px;
    color: #fff;
}

.footer-links a:hover {
    color: #e4e4e4;
}

.copyright {
    width: 100%;
    height: 46px;
    background: #2da89b;
}

.copyright p {
    margin: 0px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 46px;
    font-family: 'Open Sans', sans-serif;
}

/*End Footer styles*/

/* Media styles */

@media (max-width: 1080px) {
    .nav-item a {
        padding: 0 5px;
    }

    .nav-item a::after {
        display: none;
    }

    .slide-text-wrap {
        padding-right: 10px;
    }

    .product-wrap {
        justify-content: center;
    }

    .footer-links {
        margin: 15px;
    }
}

@media (max-width: 720px) {
    body {
        padding: 0 15px;
    }

    .inp-search {
        width: 150px;
    }

    .slide-wrap {
        flex-direction: column;
        align-items: center;
    }

    .slide-img {
        margin-top: 15px;
        margin-left: 0px;

    }

    .slide-head {
        margin-top: 15px;
        margin: 25px auto;
        text-align: center;
    }

    .slide-subhead {
        text-align: center;
    }

    .slide-text-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .slide-circle {
        margin-bottom: 20px;
    }

    .product-wrap i {
        display: none;
    }

    .footer-wrap {
        justify-content: center;
    }

    .footer-links {
        width: calc(50% - 30px);
    }
}

@media (max-width: 600px) {
    .inp-search {
        width: 100px;
    }
    .search {
        order: 2;
    }

    .vertic-line {
        display: none;
    }

    .product-item {
        height: 190px;
        width: 240px;
        display: flex;
        justify-content: end;
    }

    .product-slide-wrap {
        margin-left: auto;
    }

    .product-item:first-child .product-slide-wrap {
        margin-left: auto
    }

    .product-item img {
        margin-left: auto;
    }
}

@media (max-width: 400px) {
    .top-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        flex-grow: 2;
    }
}

/*End Media styles*/
